<html>
	<head><title>Grids</title>
	</head>

	{% csrf_token %}
<body>
	User: {{ user }}<br/>


	<table>
	<tr>
	{% for entry in Grids %}
	<tr>
		{% csrf_token %}
		<!--td style="text-align: right">{{ entry.count  }}</td>
		<td style="text-align: right">{{ entry.amount }}</td-->
		<!-- <input type="submit" name="attach" value="Attach"/> -->
		<div>
			<td style="text-align: left">{{ entry.gridname }}
					<a href="/attach/{{ entry.gridname}}"> Attach
					<a href="/detach/{{ entry.gridname}}"> Detach

					<a href="/share/{{ entry.gridname}}"> Share

					<a href="/hatice/{{ entry.gridname}}"> Unshare

					<a href="/delete/{{ entry.gridname}}"> Delete
					<!-- <a href="/edit/{{ entry.gridname}}"> Edit -->
			</td>
		</div>
	</tr>
	{% endfor %} 
	</table>

	<div>
		<a href="/createGrid/{{uid}}">Create New Grid</a>
	</div>
	<div>
		<a href="/accounts/logout">Logout</a><br/>
	</div>
</body>
</html>
